services:
  postgres:
    image: postgres:18-alpine
    container_name: meu-banco-de-dados
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: adminpassword
      POSTGRES_DB: autopoint
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
